:root {
    --accent-color: #2196F3;
    --accent-btn-color: #188CE8;
    --text: #757575;
    --white: #FFFFFF;
    --maine: #212121;
    --background-secondary-color: #F5F4FA;
    --primery-font-family: Roboto, sans-serif;
    --background-color-dark: #2F303A;
    --header-border: #ECECEC;
    --border-color: #EEEEEE;
    --bgc: #AFB1B8
}

body {
    font-family: var(--primery-font-family);
    color: var(--text);
    background-color: var(--white);
    font-size: 14px;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.link {
    text-decoration: none;

}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-nav.current {
    color: var(--accent-color);
}

/* !!!------------------container!!!------------------ */
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* !!!------------------header!!!------------------ */
.logo-header {
    color: var(--accent-color);
    margin: 24px 93px 25px auto;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-header>span {
    color: var(--maine);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.header-nav {
    display: flex;

    color: var(--maine);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-links.list {
    display: flex;
    column-gap: 50px;
}

.nav-contact {
    color: var(--text);
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;

}

.nav-contact.link {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 32px;
    padding-bottom: 32px;
}

.header-nav.link {
    display: block;

    padding-top: 32px;
    padding-bottom: 32px;
}

.header>.container {
    display: flex;
    align-items: center;
}

.header-contacts.list {
    display: flex;

    margin-left: auto;
    column-gap: 50px;
}

.header {
    border-bottom: 1px solid var(--header-border);
}

.nav-icon {
    width: 16px;
    height: 15px;
    margin-right: 10px;
    fill: var(--text);
}

.nav-contact:hover .nav-icon,
.nav-contact:focus .nav-icon {
    fill: var(--accent-color);
}

/* !!!------------------hero!!!------------------ */

.hero-title {
    color: var(--white);
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;

    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.hero {
    /* background-color: var(--background-color-dark); */
    background-color: #C4C4C4;
    text-align: center;
    padding: 200px 0;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-position: center;
    background-size: 1600px;
    background-size: cover;
}

/* !!!------------------hero-button!!!------------------ */
.hero-button {
    font-family: var(--primery-font-family);
    background-color: var(--accent-color);
    color: var(--white);
    border: var(--accent-color);
    border-radius: 4px;
    padding: 10px 32px;

    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 1.8;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--accent-btn-color)
}

/* !!!------------------features!!!------------------ */

.features {
    padding-bottom: 0;
}

.features-list {
    display: flex;
    gap: 30px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features-title {
    color: var(--maine);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 10px;
    font-size: 14px;
}

.features-text {
    color: var(--text);
    line-height: 1.7;
    width: 270px;

}

.features-icon {
    width: 70px;
    height: 70px;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: var(--background-secondary-color);
}

/* !!!----------------Чим ми займаємося!!!---------------- */
.examples-title {
    color: var(--maine);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.examples-list.list {
    display: flex;
    column-gap: 30px;
}

/* !!!------------------team!!!------------------ */
.team {
    background-color: var(--background-secondary-color);
}

.team-title {
    color: var(--maine);
    margin-bottom: 50px;

    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.team-member {
    color: var(--maine);
    margin-bottom: 10px;

    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
}

.team-position {
    margin-bottom: 30px;

    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
}

.team-card {
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-card-item {
    margin-bottom: 30px;
}

.team-list.list {
    display: flex;
    column-gap: 30px;
}

.team-socialmedia-icon {
    width: 20px;
    height: 20px;
    fill: var(--bgc);
    background-color: transparent;
}

.team-socialmedia-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.team-socialmedia-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
}

.team-socialmedia-list-item:hover,
.team-socialmedia-list-item:focus {
    background-color: var(--accent-color);
}

.team-socialmedia-list-item:hover .team-socialmedia-icon,
.team-socialmedia-list-item:focus .team-socialmedia-icon {
    fill: var(--white);
}

.team-socialmedia-list-item {
    margin-bottom: 30px;
}

/* clients */
.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 50px;
    color: var(--maine);
}

.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.clients-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    border: 1px solid var(--bgc);
    border-radius: 4px;
    background-color: var(--white);
}

.clients-item-logo {
    width: 106px;
    height: 60px;
    fill: var(--bgc);
}

.clients-item:hover,
.clients-item:focus {
    border: 1px solid var(--accent-color);
}

.clients-item:hover .clients-item-logo,
.clients-item:focus .clients-item-logo {
    fill: var(--accent-color);
}


/* !!!------------------footer!!!------------------ */
.footer {
    padding: 60px 0;
    background-color: var(--background-color-dark);
}

.footer>.container {
    display: flex;
    column-gap: 70px;
}

.logo-fotter {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.logo-fotter>span {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--white);
}

.footer-adress {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: var(--white);
}

.footer-location {
    margin-bottom: 20px;
}

.logo-fotter.link {
    display: inline-block;
    margin-bottom: 20px;
}

.footer-location {
    display: inline-block;
    color: var(--white);
    margin-bottom: 9px;
    line-height: 24px;
}

.footer-contact {
    color: rgba(255, 255, 255, 0.6);
}

.footer-contact-item {
    margin-bottom: 9px;
}

.fotter-right-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
    color: var(--white);
}


/* !!!------------------portfolio------------------!!! */
.projects {
    background-color: var(--white);
}

.projects.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.projects-item:hover,
.projects-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.button-filter {
    font-family: var(--primery-font-family);
    background-color: var(--background-secondary-color);
    border: 0;
    border-radius: 4px;
    padding: 6px 22px;

    font-weight: 500;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
}

.buttons-filter.list {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: 50px;
}

.project-title {
    margin-bottom: 4px;
    color: var(--maine);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-text {
    color: var(--text);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}

.project-description {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

    padding: 20px 24px;
}

.address :hover,
.header-nav :hover,
.header-contacts :hover,
.address :focus,
.header-nav :focus,
.header-contacts :focus,
.logo-fotter>span :hover,
.logo-fotter :hover,
.logo-fotter>span :focus,
.logo-fotter :focus,
.button-filter:hover,
.button-filter:focus {
    color: var(--accent-color);
}

.button-filter:hover,
.button-filter:focus {
    color: var(--white);
    background-color: var(--accent-color);
}